@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* Códigos Reciclados */
.flex-j-center{
    display: flex;
    justify-content: center;
}

.flex-a-center{
    display: flex;
    align-items: center;
}

/* MENU */
nav{
    height: 120px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.164);
}

.container{
    display: flex;
    justify-content: space-between; 
    width: 1300px;
}

.menu ul{
    display: flex;
}

.menu ul,
.menu li{
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu a{
    display: block;
    text-decoration: none;
    color: #727272;
    padding: 15px;
    /* Transition property ; duration ; timing- function */
    transition: background-color .4s ease-in-out , color .3s;
}

.menu .active a,
.menu a:hover{
    background-color: #39aae1;
    color: #fff;
}

/* SECTION HERO */
section#banner{
    background-image: url(../images/img01.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}

.column{
    flex-direction: column;
}

.description{
    flex-direction: column;
    flex: 1;
}

.description h1, 
.description h2{
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.308);
    font-size: 4.2rem;
    max-width: 350px;
}

.description  h2{
    margin-top: 30px;
    font-size: 1.3rem;
}

.cards{
    display: flex;
}

.card1,
.card2,
.card3{
    color: white;
    flex: 1;
    padding: 30px;
}

.card1{
    background-color: #39aae1;
}
.card2{
    background-color: #0079c7;
}
.card3{
    background-color: #2b4c99;
}

.cards h3{
    font-size: 1.5rem;
}

.cards p,
.cards a{
    display: inline-block;
    margin-top: 20px;
}

.cards a{
    text-decoration: none;
    color: white;
    padding: 7px;
    border: 1px solid white;
    transition: background-color .4s ease-in-out , color .3s;
}

.cards a:hover{
    background-color: white;
    color: black;
}

.hours{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 7px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.582);
}

/* Segunda Sessão */
#second-section article{
    flex: 2;
}

#second-section aside{
    flex: 1;
}

.widget-title{
    margin: 30px 0px 20px 0px;
}

.widget-title-text{
    margin-bottom: 10px;
    font-size: 1.1rem;
    font-weight: bold;
}

.widget-title-bar{
    background-color: #36a9e1;
    width: 50px;
    height: 2px;
}

/* Segunda Sessão Article Latest News */
.widget-body{
    display: flex;
    flex-wrap: wrap;
}

.widget-body article{
    flex: 1;
    margin-right: 20px;
    min-width: 300px;
}

article .news-data{
    display: flex;
    column-gap: 3px;
}

article .news-posted-at{
    background-color: #2b4c99;
    color: white;
    padding: 10px;
}

article .news-comments{
    background-color: #39aae1;
}

article span{
    font-size: 0.9rem;
}

article .news-thumbnail{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

article .news-thumbnail img, 
article .news-thumbnail h3, 
article .news-thumbnail p{
    margin-top: 30px;
}

article .news-thumbnail p{
    color: #5c5c5c;
    font-size: 0.9rem;
}

/* ASIDE DEPARTMENTS */
aside .widget-body{
    column-gap: 30px;
    row-gap: 30px;
}

aside .quadrado{
    background-color: #39aae1;
    flex: 1 1 180px;
    height: 180px;
}

/* ASIDE MAKE AN APPOINTMENT */
aside .widget-body-two{
    display: flex;
    flex-direction: column;
}

.phone,
.number,
.email{
    border-top: 1px solid rgba(0, 0, 0, 0.322);
    height: 65px;
    padding: 10px;
}

.phone{
    margin-top: 10px;
}

.icon{
    background-color: grey;
    width: 30px;
    height: 30px;
}

.widget-body-two p, 
.widget-body-two span{
    color: #5c5c5c;
    font-size: 0.9rem;
    margin-top: 0;
}

.widget-body-two span{
    margin-left: 10px;
}